h1{
    text-align: center;
    color:#a40909;
    font-size: xx-large;

}
p{
    text-align: center;
    color: rgba(169, 188, 22, 0.971);
    font-size:x-large ;
    color: rgba(rgb(83, 211, 43), 0, rgb(22, 22, 74), alpha);
    

}
body{
    background-color: black;

}
.t67{

    text-align: center;
    color: #f5f242;
}