.low{
    list-style-type: lower-roman;
}



.list{
    list-style-type: number;
    
}
.batsmen{
    border-collapse: collapse;
    width:100%
}
th, td{
  border: 5px solid;
  padding: 1px;
  text-align: left;
 
}